.game-screen {
  display: grid;
  width: 100%;
  height: 90vh;
  grid-template-rows: 65vh 20vh 5vh;
  place-items: center;
  border: solid 2px black;
}

.art-container {
  display: grid;
  grid-row: 1;
  height: 100%;
  width: 100%;
  place-items: center;
  /* margin: 1rem; */
  /* height: 60rem;
  width: 60rem; */
}

.artwork {
  max-width: 100%;
  max-height: 65vh;
  display: grid;
  place-items: center;
  /* display: block; */
  /* object-fit: contain; */
  /* padding: 1rem; */
}

.magnifier-image {
  width: auto;
  max-height: 65vh;
  height: auto;
  /* padding: 1rem; */
}

.gameui-container {
  grid-row: 2;
  /* border: 2px solid red; */
  padding: 1rem;
  width: 100%;
  display: grid;
  place-items: center;
}

.multiple-choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: center;
}

.choice-button {
  white-space: normal;
  word-wrap: break-word;
  height: 4rem;
  width: 10rem;
}

.art-info {
  grid-row: 2;
}

.round-history {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: top;
  justify-content: center;
}

.game-landing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-row: 1 / -1;
  /* max-width: 700px; */
  margin: 2em 1em 0 1em;
  height: 100%;
  /* padding: 0 5em; */
}

.how-to-play {
  grid-row: 1;
}

.game-landing-container {
  width: 100%;
  border: solid 2px black;
}

.game-landing h2 {
  text-align: center;
}

.game-landing ul {
  list-style: none;
  padding: 0;
}

.game-landing ul li {
  margin-bottom: 2em;
}

.game-landing .button-container {
  grid-row: 2;
  text-align: center;
}

.demo-image {
  display: grid;
  height: max-content;
  grid-row: 1/-1;
  place-items: center;
}

.demo-image img {
  max-height: 85vh;
}

@media only screen and (max-width: 500px) {
  .game-screen {
    grid-template-rows: 50vh 35vh 5vh;
  }

  .artwork {
    max-height: 50vh;
  }

  .magnifier-image {
    max-height: 50vh;
    /* padding: 1rem; */
  }

  .multiple-choice {
    grid-template-columns: 1fr;
  }

  .choice-button {
    height: 3rem;
    width: 20rem;
  }

  .game-landing {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .button-container {
    order: 2;
  }

  .demo-image {
    display: grid;
    height: max-content;
    order: 3;
    place-items: center;
  }
}
