.game-screen {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 60vh 20vh 5vh 5vh;
  place-items: top;
  // border: solid 2px black;
}

.art-container {
  display: grid;
  grid-row: 1;
  height: 100%;
  width: 100%;
  place-items: center;
  margin: 0;
  padding: 0;
  // display: block;
  // object-fit: contain;
  /* height: 60rem;
  width: 60rem; */
}

.artwork {
  max-width: 100%;
  max-height: 60vh;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  // display: block;
  // object-fit: contain;
  // padding: 1rem;
}

.magnifier-image {
  width: auto;
  max-height: 60vh;
  max-width: 99vw;
  height: auto;
  margin: 0;
  padding: 0;
  /* padding: 1rem; */
}

.gameui-container {
  grid-row: 2;
  /* border: 2px solid red; */
  // padding: 1rem;
  width: 100%;
  height: 100%;
  // max-height: 20vh;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
}

.multiple-choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: center;
}

.choice-button {
  white-space: normal;
  word-wrap: break-word;
  height: 4rem;
  width: 15rem;
}

.art-info {
  display: grid;
  place-content: center;
  grid-row: 2;
  // max-height: 20vh;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.round-history {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  // align-items: top;
  // justify-content: center;
  // max-height: 2.5vh;
}

.reset-game-container {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: top;
  justify-content: center;
  max-height: 2.5vh;
}

.game-landing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-row: 1 / -1;
  /* max-width: 700px; */
  margin: 2em 1em 0 1em;
  height: 100%;
  /* padding: 0 5em; */
}

.how-to-play {
  grid-row: 1;
}

.game-landing-container {
  width: 100%;
  border: solid 2px black;
}

.game-landing h2 {
  text-align: center;
}

.game-landing ul {
  list-style: none;
  padding: 0;
}

.game-landing ul li {
  margin-bottom: 2em;
}

.game-landing .button-container {
  grid-row: 2;
  text-align: center;
}

.demo-image {
  display: grid;
  height: max-content;
  grid-row: 1/-1;
  place-items: center;
}

.demo-image img {
  max-height: 85vh;
}

.game-over {
  /* height: 80vh; */
  text-align: center;
  border: solid 2px black;
  flex-direction: column;
  gap: 5em;
  justify-content: center;
}

.correct-art-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 30rem;
  grid-auto-flow: dense;
  margin: 10px;
}

.image-container {
  // overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.art-frame {
  background-color: beige;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
  /* box-shadow: 3px 3px 5px rgb(92, 92, 92); */

  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  // margin: 10vh 10vw;
  // height: 20vh;
  // padding: 8vmin;
  // padding: 10rem;
  position: relative;
  text-align: center;
  &:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
  }
  &:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
  }

  /*background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX7002044.jpg");
  background-size: cover;
  padding: 1rem;
  background-color: gray;
  background-repeat: no-repeat;
  */
}

.correct {
  // background: green;
  // border: solid 2px green;
  box-shadow: 0px 0px 2px 5px rgba(0, 155, 21, 0.733);
}

.art-frame.incorrect {
  box-shadow: 0px 0px 2px 5px rgba(155, 0, 0, 0.733);
}

.image-container img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  z-index: 1;

  /* border: solid 2px black; */
}

@media only screen and (max-width: 500px) {
  .game-screen {
    grid-template-rows: 50vh 35vh 2.5vh 2.5vh;
  }

  .artwork {
    max-height: 50vh;
  }

  .magnifier-image {
    max-height: 50vh;
    /* padding: 1rem; */
  }

  .multiple-choice {
    grid-template-columns: 1fr;
  }

  .choice-button {
    height: 2.5rem;
    width: 20rem;
  }

  .game-landing {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .button-container {
    order: 2;
  }

  .demo-image {
    display: grid;
    height: max-content;
    order: 3;
    place-items: center;
  }
}
