.top-nav-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.nav-links li:hover,
.nav-links button:hover {
  /* color: rgb(0, 98, 184); */
  transform: scale(1.1);
}
