.hero {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  overflow: hidden;
}

.hero > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero > :first-child:not(.centered) {
  margin-top: 0;
}

.hero > :last-child:not(.centered) {
  margin-bottom: 0;
}

.hero > .centered {
  margin-top: auto;
  margin-bottom: auto;
}

.frame {
  --n: 1;
  --d: 3;
  padding-bottom: calc(var(--n) / var(--d) * 100%);
  position: relative;
}

.frame > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-caption {
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  padding: 2rem;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-caption p {
  max-width: 54ch;
}

.hero-caption > * + * {
  margin-top: 1rem;
}

@keyframes img-slide {
  0% {
    object-position: 10% 10%;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    object-position: 90% 90%;
  }
}

.animate > img {
  object-fit: none;
  animation: img-slide 100s linear infinite;
}
